@value keyColor, lightGrey, hoverKeyColor, hoverCancelColor from "../../common/color.css";

input {
  font-size: 1.1rem;
  outline: none;
}

.editor {
  flex-basis: 60%;
  border-right: 5px solid lightGrey;
}

.main__title {
  margin-left: 1em;
}
