span,
p {
  margin-right: 1em;
}

input {
  font-size: 1rem;
}

.form {
  background-color: #f1f1f1;
  width: 30em;
  height: 25em;
  border-radius: 6px;
}

.content {
  font-size: 1.1rem;
  margin-left: 1em;
  padding-top: 1em;
}

.calendar {
  display: flex;
}

.calculation {
  display: inline-block;
  background-color: cadetblue;
  width: 20em;
  height: 5em;
  margin-left: 1em;
}

.colors {
  display: flex;
}

.a {
  margin-top: 1em;
}
