.colorbox {
  flex-basis: 55%;
  margin-left: 57%;
  margin-top: 5em;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  width: 100px;
  height: 100px;
  margin-bottom: 2em;
}

@media screen and (max-width: 1100px) {
  .colorbox {
    margin-left: 600px;
  }
}
