@value keyColor, darkGrey, googleColor, underlineColor from "../../common/color.css";

* {
  background-color: transparent;
  border: none;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
}

.login {
  background-color: white;
  border-radius: 20px;
  width: 25em;
  height: 35em;
}

.close {
  transform: translateX(26em) translateY(1.5em);
}

.x {
  width: 2em;
  height: 2em;
  color: darkGrey;
}

.title {
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.intro {
  margin-left: 2.5em;
  margin-top: -0.3em;
  color: darkGrey;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email,
.password {
  margin: 0 auto;
  border-bottom: 2px solid underlineColor;
  width: 14.5em;
  height: 2em;
  margin-bottom: 0.6em;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: underlineColor;
  text-indent: 0.2em;
}

.error {
  margin-left: 2.3em;
  color: red;
  font-size: 0.9rem;
  transition: all 300ms ease-in;
  margin-bottom: 0.5em;
}

.start {
  margin: 0 auto;
  background-color: keyColor;
  color: white;
  width: 18em;
  height: 3em;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5em;
}

.register {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
  color: darkGrey;
}

.regiser__btn {
  color: red;
  text-decoration: underline;
  transform: translateY(-1px);
}

.easy__login::before {
  position: relative;
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  left: -60px;
  top: 8px;
  background-color: underlineColor;
}

.easy__login {
  margin: 0 auto;
  margin-top: 1em;
  font-size: 0.8rem;
}

.easy__login::after {
  position: relative;
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  right: -90px;
  top: -10px;
  background-color: underlineColor;
}

.google,
.github {
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  width: 20em;
  height: 2.5em;
  margin-top: 0.5em;
}

.google {
  background-color: googleColor;
}

.github {
  background-color: black;
}

.google__icon,
.github__icon {
  margin-right: 0.3em;
  transform: translateY(2px);
}
