@value keyColor, darkGrey from "../../common/color.css";

.main {
  margin-top: 29em;
  text-align: center;
}

.start {
  background-color: keyColor;
  color: white;
  font-size: 1.7rem;
  width: 20em;
  height: 2em;
  border-radius: 6px;
  margin-top: 10px;
}
